* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  color: #060606;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Volkhov", serif;
  margin: 0;
  padding: 0;
  line-height: 28px;
}
p {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 27px;
  color: #b7b7b7;
}
a,
button {
  cursor: pointer;
}
a {
  color: #707070;
  text-decoration: none;
  background-color: transparent;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
body a:hover {
  text-decoration: none;
  transition: 0.5s all;
}
/* HEADER */
.header-active {
  background-color: white;
  height: 70px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

.cl-black {
  color: #060606 !important;
}

.main-header {
  transition: all 0.4s ease 0s;
  height: 90px;
}
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .navbar-brand {
  font-size: 32px;
  color: #fb811e;
  padding: 0;
  position: relative;
}

.navbar .navbar-brand i {
  position: absolute;
  top: -10px;
  left: 55px;
  font-size: 20px;
  color: #fb811e;
}

.search input {
  background: #fff
    url(https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/search.png)
    no-repeat 10px center;
  border: solid 1px #eee;
  padding: 0 10px;
  width: 35px;
  height: 35px;
  border-radius: 10em;
  transition: all 0.5s;
  cursor: pointer;
}

.search input:focus {
  width: 200px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
  padding-right: 15px;
  outline: #eee;
}

.theme #switchButton {
  width: 24px;
  height: 24px;
  margin: 0 10px 0 20px;
  color: #fff;
  cursor: pointer;
}

.theme #switchButton:hover {
  color: #fb811e;
}

.theme #switchButton i {
  font-size: 25px;
}

.theme #switchButton .fa-sun {
  display: none;
}

.dropdown .btn {
  color: white;
  font-size: 25px;
}

.dropdown-menu .active {
  color: #fb811e;
  background: none;
}

.dropdown-menu {
  left: -170px;
  max-height: 400px;
}

.dropdown-item {
  font-size: 16px;
  font-weight: 600 !important;
  padding: 7px;
  text-align: center;
  min-width: 13em;
}

/* Welcome banner Start */

.welcome_banner-left {
  position: absolute;
  left: 160px;
  z-index: 1;
}

.welcome_banner-left .banner_left-content h2 {
  color: #f4f4f4;
  font-size: 120px;
  font-weight: bold;
  margin-left: -50px;
}

.banner_left-content .banner_contents h3 {
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
}

.banner_left-content .banner_contents .banner_desc {
  font-size: 20px;
  color: #707070;
  margin-bottom: 50px;
}
.btn-style {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: #fb881e;
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: 0.5s;
}

.btn-style:hover {
  background-color: #009f4d;
  color: #fff;
}

.welcome .carousel-inner {
  border-bottom-left-radius: 20px;
}

.welcome .carousel-item {
  position: relative;
}
.welcome .carousel-indicators {
  bottom: 20px;
}
.welcome .carousel-item .carousel-item-txt {
  bottom: 20px;
  right: 30px;
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.welcome .carousel-item .carousel-item-txt small {
  font-size: 17px;
}

.welcome .carousel-indicators li {
  border-top: none;
  border-bottom: none;
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  background: #fff;
  margin: 0px 4px;
  cursor: pointer;
}

.welcome .carousel-indicators .active {
  background-color: #fb881e;
}

/* GROW START */
.grow h5 {
  color: #fb811e;
  font-size: 22px;
}

.grow h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}

.grow .col-lg-6 {
  padding: 0 2px;
}
.grow .box-container {
  margin: 10px;
  padding: 40px 30px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);
  transition: 0.3s;
}

.grow .box-container:hover {
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}

.grow .box-container img {
  max-width: 65px;
  display: block;
  margin: 0 auto;
}

.grow .box-container h4 a {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: #060606;
  transition: 0.5s;
}

.grow .box-container h4 a:hover {
  color: #009f4d;
  text-decoration: none;
}

/* Theme */
.dark {
  transition: all 0.5s;
}
.dark#myBody {
  background: #222222;
  color: white;
}
.dark#myBody p {
  color: #b7b7b7;
}
.dark #switchButton .fa-moon {
  display: none;
}

.dark #switchButton .fa-sun {
  display: block;
}

.dark .header-active {
  background: #222222;
}

.dark .box-container {
  background: #222222;
  box-shadow: 0 1rem 3rem rgb(23, 19, 19);
}

.dark .farm-gray {
  color: #0b0d0e !important;
}
.dark .title-head {
  color: #fff !important;
}
.dark .cl-black {
  color: #fff !important;
}
.dark .card-body {
  background: #0b0d0e;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.dark .card-body .heading,
.dark .card-body .card-text,
.dark .gallery .title-style {
  color: #fff;
}
.dark .chooseus_txt_2 h3,
.dark .services_txt h3,
.dark .footer_findus h3,
.dark .footer_newsletter h3,
.dark .footer_logo a:hover {
  color: #fff;
}
.dark .subscribe input[type="email"] {
  background: #000;
}
.dark footer a {
  color: rgb(183, 183, 183);
}

@media screen and (min-width: 176px) {
  .welcome_banner-left {
    left: 0;
  }
  .banner_left-content .banner_contents h3 {
    font-size: 25px;
    line-height: 40px;
  }
  .welcome_banner-left .banner_left-content h2 {
    font-size: 40px;
    margin-left: 0;
  }
  header .container {
    padding: 0;
  }
  .welcome .carousel-item-sm {
    height: 70vh;
  }
  .welcome .img-fluid {
    height: 100%;
  }

  .dark .banner_left-content {
    background-color: #222222;
    padding: 20px;
    border-radius: 10px;
  }
  .grow .row {
    padding: 0 15px;
  }
}

@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
  .banner_left-content .banner_contents h3 {
    font-size: 30px;
    line-height: 40px;
  }
  .welcome_banner-left {
    left: 60px;
  }

  .welcome_banner-left .banner_left-content h2 {
    font-size: 80px;
  }
  .welcome .carousel-item {
    height: auto;
  }
  .welcome_banner-left .banner_left-content {
    background-color: transparent;
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  .welcome .carousel-item {
    height: 100vh;
  }
  .welcome_banner-left {
    left: 160px;
  }
  .banner_left-content .banner_contents h3 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 576px) {
}
@media screen and (max-width: 450px) {
  .gallery_grid_1 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1em;
  }
}

/* Start We do */
.wedo {
  background-color: #009f4d;
}
.container {
  padding: 80px 10px;
}
/* .wedo_txt{
  display: flex;
  color: #fff;
  margin-left: 16px;
}
.wedo_left{
  margin-left: 20px;
}
.wedo_paragraph{
  margin-left: 20px;
  margin-top: 20px;
  font-size: 1.25rem;
  font-weight: 300;
  width: 60%;
  color: #fff;
} */
/* .wedo_left {
  padding-left: 30px;
} */
.small-title {
  font-size: 22px;
}
h4.title_service {
  position: absolute;
  color: #fff;
  font-weight: bold;
  z-index: 0;
  opacity: 0.14;
  font-size: 12vw;
  right: 50%;
  bottom: 73%;
  transform: translate(50%, 50%);
}
.wedo_img {
  /* display: flex; */
  justify-content: space-evenly;
  margin-top: 50px;
}
.card img {
  border-radius: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.card {
  /* margin-left: 20px; */
  border: #009f4d;
  border-radius: 20px;
}
.card-title {
  color: #009f4d;
  background: rgb(0 159 77 / 16%);
  padding: 5px 20px;
  border-radius: 15px;
  font-weight: 500;
  font-size: 16px;
  display: inline;
}
.heading {
  color: black;
  font-weight: 600;
  font-size: 24px;
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
}
.card-body p {
  font-size: 17px;
  line-height: 27px;
  /* color: #707070; */
}
.card .card-body a:hover {
  color: #009f4d;
  text-decoration: none;
  transition: all 0.8s;
}
@media screen and (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}
/* @media screen and (min-width: 768px){
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
} */
/* End We do */

/* Start Choose Us */
/* .chooseus_content .container{
  display: flex;
} */
.chooseus {
  padding-top: 80px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.align-self {
  align-self: center;
}
.chooseus_txt_2 {
  display: flex;
}
.chooseus_txt {
  width: 50%;
  /* margin-top: 80px;
  margin-left: 80px; */
}
.chooseus_txt_1 h3 {
  color: #fb811e;
  font-size: 22px;
}
.chooseus_txt_1 h1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}
.chooseus_txt_1 p {
  font-size: 17px;
  /* font-weight: 100;
  font-weight: 100; */
  line-height: 27px;
  /* color: #707070; */
  margin-top: 1rem;
}
.chooseus_txt_2 {
  margin-top: 60px;
}
.chooseus_txt_2 h3 {
  color: #060606;
  font-family: "Volkhov", serif;
  font-weight: 700;
  margin-bottom: 10px;
}
.chooseus_txt_2 p {
  font-size: 17px;
  line-height: 27px;
  /* color: #707070; */
  /* width: 80%; */
}
/* .chooseus_img {
  margin-left: -30px;
} */
.chooseus_img img {
  /* object-fit: cover;
  width: 29rem; */
  border-radius: 30px;
  /* margin-left: 110px; */
}
.chooseus_txt_2 i {
  font-size: 28px;
  color: #fb811e;
  margin-right: 6px;
}
.info_box {
  background-color: #fb811e;
  color: #fff;
  position: absolute;
  left: -85px;
  bottom: 38px;
  padding: 40px;
  box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
  min-width: 300px;
  border-radius: 0 0 100px 0;
  text-align: center;
}
.info_box .imginfo_title {
  font-size: 70px;
  line-height: 80px;
  color: #fff;
  font-weight: 600;
}
.info_box p {
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.2px;
  font-weight: 600;
}
/* .img_box {
  background-color: #fb811e;
  color: #fff;
  position: absolute;
  padding: 40px;
  box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
  min-width: 300px;
  border-radius: 0 0 100px 0;
  text-align: center;
  right: 350px;
  bottom: -800px;
}
.img_box h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 600;
}
.img_box h3 {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
} */
@media screen and(min-width) {
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .chooseus_content {
    font-size: 14px;
  }
}
/* End Choose Us */

/* Start services */
.chooseus .container {
  padding: 5px;
}
.services_main {
  display: flex;
}
.services_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* css đè lên bootstrap r nên ko dùng class bootstrap đc 
  => responsive bằng css */
}
.services_main .services_txt {
  margin-left: 28px;
}
.services_img img {
  width: 56px;
}
.services_txt h3 {
  font-size: 22px;
  line-height: 25px;
  font-weight: 600;
  color: #060606;
}
.services_txt p {
  font-size: 17px;
  line-height: 27px;
  color: #b7b7b7;
  margin-top: 10px;
}

.services_item {
  padding: 1.5rem 1rem;
  border: 1px solid transparent;
  transition: 0.5s;
}

.services_item a {
  text-decoration: none;
  margin-left: 10px;
}
.services_item:hover .services_txt h3 {
  /* hover ở đây bắt sai r nè, phải đổi wa service item 
  okie chưa em
  */
  color: #009f4d;
  transition: 0.5s;
}

.services_item:hover {
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  transition: 0.5s;
}
@media screen and (max-width: 1200px) {
  .services_list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 992px) {
  .services_list {
    grid-template-columns: 1fr;
  }
}
/* End services */

/* start gallery */
.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 0.5em;
}
.gallery_title {
  color: rgb(251 129 30);
  font-size: 22px;
}
.title-style {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #000;
}
.gallery_button {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: rgb(251 129 30);
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
}
.gallery_button:hover {
  background: #009f4d;
}
.gallery_effect {
  position: relative;
}
.gallery_effect figure {
  overflow: hidden;
  position: relative;
  margin: 0;
}
.figure_text {
  position: absolute;
  z-index: 0;
  color: #fff;
  bottom: 0;
  font-weight: bold;
  background: rgb(255 255 255 / 27%);
  padding: 6px;
  text-align: center;
  left: 0;
  right: 0;
  margin: 20px;
}
.gallery_effect figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  /* background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  ); */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  /* -webkit-transform: skewX(-17deg);
  -moz-transform: skewX(-17deg);
  -o-transform: skewX(-17deg);
  -ms-transform: skewX(-17deg); */
  transform: skewX(-17deg);
}
.gallery_effect figure:hover::before {
  /* -moz-animation: shine 0.95s; */
  animation: shine 0.95s;
}

.gallery_effect img {
  width: 100%;
}

/* end gallery */

/* start testimonials */
.testimonials {
  background: url(./img/bg1.jpg);
  /* object-fit: cover; */
  position: relative;
  z-index: 1;
}
.testimonials::before {
  content: "";
  background: rgb(10 10 10 / 52%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.testimonials_group {
  max-width: 900px;
  margin: auto;
}
.testimonials_avatar {
  text-align: center;
}
.avatar_img {
  width: 90px;
  height: 90px;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
}
.avatar_img img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}
.testimonials_avatar h3 {
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0 5px;
  color: #fff;
}
.testimonials_avatar p {
  color: #fff;
  font-size: 16px;
}
.testimonials_content span {
  font-size: 20px;
  color: #fb811e;
  font-weight: 600;
  display: inline-block;
}
.testimonials_content blockquote q {
  font-size: 22px;
  line-height: 34px;
  color: #fff;
  text-indent: 30px;
  display: block;
}
.testimonials_peope {
  margin: 0;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 6px;
  background-color: #aaa;
}
.testimonials .carousel-indicators li.active {
  background-color: #fb811e;
}
.testimonials .carousel-indicators {
  position: absolute;
  right: 0px;
  bottom: -90px;
  left: 0px;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0px;
  margin-top: 30px;
  margin-bottom: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

/* end testimonials */

/* start footer */
.footer h3 {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #060606;
}
.footer_findus .column-2 p {
  line-height: 24px;
}
.footer_findus a:hover {
  color: #fb811e;
}
.footer_logo a {
  font-size: 32px;
  color: #fb811e;
  padding: 0px;
  position: relative;
  transition: 0.5s;
}
.footer_logo a:hover {
  text-decoration: none;
  color: black;
}
.logo i {
  position: absolute;
  top: -3px;
  left: 54px;
  font-size: 20px;
  width: 20px;
  height: 20px;
}
.footer_farmstead p.copy-text a {
  color: #009f4d;
  transition: 0.5s;
}
.footer_farmstead p.copy-text a:hover {
  color: #fb811e;
  text-decoration: none;
}
.subscribe input[type="email"] {
  background: #f4f4f4;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 80%;
  color: var(--font-color);
  border: 1px solid #eee;
  border-radius: 30px 0px 0px 30px;
}
.subscribe button {
  background: #009f4d;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 12px 12px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  border-radius: 0px 30px 30px 0px;
}
.footer_newsletter ul.social li {
  display: inline-block;
  margin-right: 5px;
}
.footer_newsletter ul.social li a {
  color: #009f4d;
  width: 35px;
  height: 35px;
  background: rgb(10 191 83 / 8%);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}
.footer_newsletter ul.social li a:hover {
  color: #fb811e;
  background: rgb(255 201 69 / 19%);
  box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
}
.footer_newsletter ul.social li a i {
  font-size: 15px;
  line-height: 35px;
}
/* end footer */

/* back to top */
.backToTop:focus {
  outline: 5px auto black;
}
.backToTop {
  width: 40px;
  height: 40px;
  background: #009f4d;
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 90px;
  color: #fff;
  transition: all 0.2s;
  visibility: hidden;
  opacity: 0;
  font-size: 16px;
  z-index: 9;
  border: none;
  outline: none;
}
.backToTop:hover {
  color: #fff;
  opacity: 0.8;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
/* end back to top */
/* theme */

/* animate */
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}
/* responsive */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
/* Large devices (desktops, less than 1200px) */
@media screen and (max-width: 1199.98px) {
  p {
    line-height: 26px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) {
  .gallery_title {
    font-size: 20px;
  }
  .title-style {
    font-size: 35px;
    line-height: 45px;
  }
}
/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767.98px) {
  .gallery_title {
    font-size: 18px;
  }
  .title-style {
    font-size: 32px;
    line-height: 42px;
  }
}
